.content {
    background-color: #f2d492;
    width: 100vw;
    height: 100%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80vw;
    font-family: 'Poppins', sans-serif;
}

.profile-img {
    margin-top: 30px;
}